.article-1__img {
  width: 38vw;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.article-1__text {
  /* font-size: 1.8rem; */
  text-align: left;
  columns: 25rem auto;
}

@media (max-width: 1150px) {
  .article-1 {
    flex-direction: column !important;
  }
  .article-1__img {
    width: 75vw;
    aspect-ratio: 1/1;
  }

  .article-1__text {
    font-size: 2.3rem;
    letter-spacing: -0.01rem;
    line-height: 3rem;
    columns: 1;
  }
}
