.article__img {
  width: 38vw;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.article__text {
  font-size: 1.5rem;
  text-align: left;
  columns: 25rem auto;
}

@media (max-width: 1150px) {
  .article {
    flex-direction: column !important;
    align-items: center !important;

  }
  .article__img {
    width: 75vw;
    aspect-ratio: 1/1;
  }

  .article__text {
    font-size: 2rem;
    letter-spacing: -0.01rem;
    line-height: 3rem;
    columns: 1;
  }
}
