#start-slider {
  height: 60vh;
  width: 800px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  background: transparent;
}

.mainBlock h1 {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.035em;
  color: #db8e8e;
  margin-bottom: 5rem;
}

.mainBlock p {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #413131;
}

.decor {
  font-size: 4rem;
  letter-spacing: 3rem;
  margin-left: 3rem;
  text-align: center;
  color: rgba(218, 187, 187, 0.904);
}

.gallery > img {
  width: 100%;
  max-width: 25rem;
  height: 28rem;
  object-fit: cover;
  transition: all 350ms ease;
  margin: 1rem;
}

.row {
  justify-content: center;
  align-items: center;
}

@media (max-width: 880px) {
  #firstScreen {
    padding-top: 5vh;
    height: 90vh;
  }

  #start-slider {
    width: 100vw;
  }

  .firstScreen-text {
    height: 20vh !important;
  }

  .mainBlock {
    height: 50vh !important;
  }
  .mainBlock h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    letter-spacing: 0.035em;
  }

  .mainBlock p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0.28rem;
  }
}

@media (max-height: 500px) {
  .mainBlock img {
    max-height: 80vh;
  }
}

@media (max-width: 500px) {
  #firstScreen {
    height: 40vh;
    padding-top: 0vh;
  }
  #start-slider {
    height: 30vh;
    width: 100vw;
  }

  .firstScreen-text {
    height: 15vh !important;
    margin: -8vh 0 0 0 !important;
  }
  .mainBlock h1 {
    font-size: 3.3rem;
    line-height: 3rem;
  }

  .mainBlock p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .mainBlock {
    height: 40vh !important;
  }
  .question {
    padding: 0 !important;
    width: 90vw !important;
  }
}
