.article-1__img {
  width: 33vw;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.article-1__text {
  text-align: left;
  columns: 25rem auto;
}

.article-2__text {
  text-align: left;
  width: 70%;
  margin: 2rem;
}
.card-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card {
  width: 30rem !important;
  height: 40rem !important;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  border: none;
  position: relative;
  cursor: pointer;
}

.card__side {
  width: 30rem !important;
  height: 40rem !important;
  border: 1px solid black;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0%;
  left: 0;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

@media (max-width: 1150px) {
  .article-1 {
    margin-top: 3rem !important;
    flex-direction: column-reverse !important;
  }
  .article-1__img {
    width: 80vw;
    aspect-ratio: 1/1;
  }

  .article-1__text {
    font-size: 2.3rem;
    letter-spacing: -0.01rem;
    line-height: 3rem;
    columns: 1;
  }
}
