h3 {
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
p {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #64a5d6;
}

@media (max-width: 800px) {
  #contacts {
    flex-direction: column;
    margin-top: 20%;
    padding: 0;
  }
  #contacts img {
    min-width: 90px !important;
  }
}
