.decor-text {
  transform: translate(60vw, 50%);
}

.w-100 {
  width: 100vw !important;
}

.mainBlock h1 {
  /* font-family: Songti TC; */
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3.8rem;
  line-height: 4.2rem;
  text-align: center;
  letter-spacing: 0.035em;
  color: #db8e8e;
  margin-bottom: 5%;
}
.blackBlock {
  position: absolute;
  background: #16161617;
  z-index: 0;
}

.mainBlock p {
  /* font-family: Neutra Text; */
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: 0.23em;

  color: #413131;
}
@media (max-width: 800px) {
  .mainBlock h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}
@media (max-width: 500px) {
  .mainBlock h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .mainBlock p {
    font-size: 8px;
    line-height: 1rem;
  }
}

.blueBlock {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.blueBlock > p {
  /* font-family: Songti TC; */
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #595555;
}

.decor {
  font-size: 5vw;
  letter-spacing: 1em;
  text-align: center;
  color: rgba(218, 187, 187, 0.904);
}

.contact {
  transform-origin: center;
  transform: rotate(90deg) translateX(-37vh);
  /* width: 80vh; */
  height: 5vh;
  letter-spacing: 0.55em;
  /* font-size: 8vh; */
}

.gallery {
  -webkit-column-count: 3;
  column-count: 3;
  column-width: 33%;
  padding: 0 15%;
}
@media (max-width: 800px) {
  .gallery {
    -webkit-column-count: 2;
    column-count: 2;
    column-width: 50%;
  }
}
@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
    column-count: 1;
    column-width: 100%;
  }
}

.gallery > img {
  width: 100%;
  max-width: 350px;
  /* height: 300px; */
  aspect-ratio: 3/4;
  object-fit: cover;
  transition: all 350ms ease;
  margin-bottom: 30px;
}

.contactForm {
  width: 100%;
}

.contactFormTitle {
  /* font-family: Songti TC; */
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: xx-large;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #000000;
  /* margin-top: 5%; */
}

.contactForm input {
  /* font-family: Songti TC; */
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: medium;
  line-height: 42px;
  text-align: start;
  letter-spacing: 0.04em;
  margin: 3% 0;
  height: 40px;
  border: 2px solid #db8e8e;
  border-radius: 6px;
  padding-left: 10px;
  color: #000000;
  background: rgba(0, 0, 0, 0.082);
}
.contactForm input::placeholder {
  font-weight: normal;
  color: #00000077;
}

.btn-white {
  cursor: pointer;
  width: 50%;
  /* font-family: Songti TC; */
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: medium;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.04em;

  color: #cf8585;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #e3e3e3;
  border: none;
  border-radius: 10px;
}

.btn-white:active {
  background-color: #db8e8e;
  color: #fff;
}
.btn-white:focus {
  border: none;
  outline: none;
}

.btn-white:hover {
  background-color: #db8e8e;
  color: #fff;
}

@media (max-width: 500px) {
  .contactFormTitle {
    font-size: large;
    line-height: 30px;
  }

  .contactForm input {
    height: 30px;
    border: 1px solid #db8e8e;
    border-radius: 4px;
    font-size: smaller;
  }

  .btn-white {
    font-size: small;
    line-height: 25px;
    border-radius: 8px;
  }
}
@media (max-width: 400px) {
  .contactForm input {
    height: 25px;
    border: 1px solid #db8e8e;
    border-radius: 4px;
    font-size: smaller;
  }

  .btn-white {
    font-size: small;
    line-height: 20px;
    border-radius: 8px;
    margin-top: -25px;
  }
}
.row {
  justify-content: center;
  align-items: center;
}
