.mainBlock h1 {
  font-family: Songti TC;
  font-style: normal;
  font-weight: normal;
  font-size: 3.8rem;
  line-height: 4.2rem;
  text-align: center;
  letter-spacing: 0.035em;
  color: #db8e8e;
  margin-top: -20%;
  margin-bottom: 5%;
  /* height: max-content; */
}
.blackBlock {
  position: absolute;
  background: #16161617;
  z-index: 0;
}

.mainBlock p {
  font-family: Neutra Text;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.23em;

  color: #413131;
}

.blueBlock {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.blueBlock > p {
  font-family: Songti TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #595555;
}

.decor {
  font-size: 6.5vw;
  letter-spacing: 0.7em;
  text-align: center;
  color: rgba(218, 187, 187, 0.904);
  margin-top: -94px;
}

.contact {
  transform: rotate(90deg);
  margin-top: -34vh;
  width: 10px;
  height:5vh;
  letter-spacing: 0.55em;

  font-size: 8.8vh;
}

.gallery {
  flex-wrap: wrap;
}

.gallery > img {
  margin: 30px 5%;
  width: 300px;
  height: 400px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contactForm > h1 {
  font-family: Songti TC;
  font-style: normal;
  font-weight: normal;
  font-size: xx-large;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #000000;
  margin-top: 10%;
}
.contactFormInput {
  font-family: Songti TC;
  font-style: normal;
  font-weight: bold;
  font-size: medium;
  line-height: 42px;
  text-align: start;
  letter-spacing: 0.04em;
  flex: 1;
  margin: auto;
  height: 40px;
  border: 2px solid #db8e8e;
  border-radius: 6px;
  padding-left: 10px;
  color: #000000;
  background: rgba(0, 0, 0, 0.082);
}
.contactFormInput::placeholder {
  font-weight: normal;
  color: #000000;
}

.submit {
  cursor: pointer;
  width: 30%;
  font-family: Songti TC;
  font-style: normal;
  font-weight: bold;
  font-size: medium;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.04em;

  color: #cf8585;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #e3e3e3;
  border: none;
  border-radius: 10px;
}

.submit:active {
  filter: none;
}

.submit:hover {
  background-color: #db8e8e;
  color: #fff;
}

.recent {
  font-family: Neutra Text;
  font-style: normal;
  font-weight: normal;
  font-size: small;
  line-height: 19px;
  text-align: center;

  color: #9699a1;
}

.works {
  font-family: Neutra Text;
  font-style: normal;
  font-weight: normal;
  font-size: x-large;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.295em;

  color: #000000;
}
