.App {
  text-align: center;
  /* font-family: "Neutra Text", sans-serif;
   */
  font-family: "Forum", cursive;
}

.logo {
  max-width: 80px;
  width: 30px;
  flex-grow: 1;
}

footer {
  display: flex;
  height: 200px;
  background: #e3e3e3;
  flex-direction: column;
  justify-content: start;
  padding: 3% 5% 0;
  align-items: space-between;
  width: 100vw;
  /* padding: 40px 80px; */
}
.footer-nav > a {
  font-size: 16px !important;
}
@media (max-width: 750px) {
  .footer-nav > a{
    /* display: none !important; */
  font-size: 12px !important;

  }
  footer{
    height: 150px
  }
  .footer-soc svg {
    width: 18px;
    height: 18px;
  }
}

main {
  min-height: 65vh;
}
.copyright {
  margin: 10px 0 0;
  font-size: small;
}

.navbar-toggler:focus {
  border: transparent;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-collapse {
  width: 100%;
  justify-content: space-between;
}

#basic-navbar-nav.show,
#basic-navbar-nav.collapsing {
  display: none;
}

.navbar-toggler {
  font-size: 1.3rem;
  transform: translateY(-15px) translateX(50px);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(190, 110, 110, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 600px) {
  .navbar-toggler {
    font-size: 1rem;
    transform: translateY(-15px) translateX(30px);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
