.App {
  text-align: center;
  font-family: "Forum", cursive;
}

#navigation {
  height: 20vh;
}

.logo {
  width: 6rem;
  margin-top: 5%;
}

footer {
  display: flex;
  height: max-content;
  background: #e3e3e3;
  flex-direction: column;
  justify-content: start;
  padding: 0 5%;
  align-items: space-between;
  width: 100vw;
  margin-bottom: 5%;
}

footer .logo {
  height: 80px;
}

.copyright {
  margin: 10px 0 0;
  font-size: small;
}

@media (min-width: 1800px) {
  .col-lg-5 {
    margin-left: -20%;
  }
  .col-lg-7 {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .copyright {
    font-size: xx-small;
  }
}

main {
  min-height: 65vh;
}

.navbar-toggler:focus {
  border: transparent;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-collapse {
  width: 100%;
  justify-content: space-between;
}

#basic-navbar-nav.show,
#basic-navbar-nav.collapsing {
  display: none;
}

.navbar-toggler {
  font-size: 3rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(190, 110, 110, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
