@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
html {
  font-size: 18px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Forum", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/4623060/pexels-photo-4623060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100vw;
  /* background-size: cover; */
  /* font-family: "Neutra Text", sans-serif; */
  /* transform: translate3d(0px, 0px, 0px); */
  /* transition: all 700ms ease; */
}
main {
  background: white;
}
code {
  font-family: "Forum", cursive;
}
@media (min-width: 1500px) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 500px), (max-height: 500px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
}
